{% extends "snap/base.html" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">SnapShare</h1>
        <p class="lead text-muted">Share Photos With Your Friends!<br /> </p>
          <a class="btn btn-outline-info my-2 my-sm-1" href="{% url "snap:post-add" %}">Upload</a>
    </div>
</section>

<div class="albums-container container-fluid">
  <div class="row">
    {% for post in object_list %}
      <div class="card" style="width: 20rem;">
        <h4 class="{{post.user}}">{{post.user}}</h4>
        <a href="{% url "snap:detail" post.id %}">
          <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
        </a>
        <div class="card-block">
          <p class="card-text">{{post.comment}}</p>
          <a href="{% url "snap:detail" post.id %}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
